<div class="px-10 md:px-20">
  <section id="products-section" class="max-w-7xl mx-auto py-20">
    <div
      class="grid md:grid-cols-2 gap-10 place-items-center place-content-center"
    >
      <div class="flex gap-5">
        <div class="flex flex-col items-center py-2">
          <div>
            <div class="w-4 h-4 rounded-full border-2 border-primary"></div>
          </div>
          <div class="h-full bg-primary w-0.5"></div>
        </div>
        <div>
          <span class="text-primary">Our works</span>
          <h2 class="font-semibold text-3xl">
            We develop products that address issues faced by customers.
          </h2>
        </div>
      </div>
      <div class="w-full">
        <div class="flex justify-between gap-2 md:gap-10">
          <button
            *ngFor="let category of categories"
            class=" p-3 px-4 rounded-lg w-full  {{
              selectedCategory === category
                ? 'bg-black text-white'
                : 'hover:bg-primary hover:text-white'
            }}"
            (click)="onSelectCategory(category)"
          >
            {{ category }}
          </button>
        </div>
      </div>
    </div>
    <div class="grid md:grid-cols-3 gap-8 md:gap-16 py-14 relative">
       <div
          class="bg-primary/5 absolute w-full h-full min-h-64 backdrop-blur-sm"
          *ngIf="loading"
        ></div>
      <div *ngFor="let product of projects" class="flex flex-col gap-3">
        <div class="rounded-lg overflow-hidden w-full md:h-96">
          <img
            src="{{ product.imageUrl }}"
            alt="#"
            class="w-full h-full object-cover cursor-pointer hover:scale-125 hover:opacity-85 duration-300"
            loading="lazy"
          />
        </div>
        <div>
          <h2 class="text-2xl font-semibold">{{ product.title }}</h2>
          <p class="text-textGrey">{{ uiService.formatTags(product.tags) }}</p>
        </div>
      </div>
    </div>
    <div class="flex justify-center md:justify-end">
      <a
        routerLink="/portfolio"
        class="p-2.5 px-16 rounded-lg bg-primary text-white flex gap-4 items-center"
      >
        <span>Discover More</span>
        <fa-icon [icon]="faChevron"></fa-icon>
      </a>
    </div>
    <div class="flex gap-5 md:gap-8 my-10 mt-20">
      <div class="flex flex-col md:flex-row gap-8 justify-between w-full">
        <div
          *ngFor="let item of firstRow"
          class="flex p-4 px-8 w-full rounded-lg items-center gap-4 bg-[#FAFAFA]"
        >
          <div>
            <img [src]="item.icon" alt="#" loading="lazy"/>
          </div>
          <h1
            class="text-lg font-semibold"
            [innerHTML]="sanitizer.bypassSecurityTrustHtml(item.title)"
          ></h1>
        </div>
      </div>
      <div class="flex flex-col items-center">
        <div>
          <div class="w-4 h-4 rounded-full border-2 border-primary"></div>
        </div>
        <div class="h-full bg-primary w-0.5"></div>
      </div>
    </div>
    <div class="flex gap-5 md:gap-8 mt-10">
      <div class="flex flex-col items-center">
        <div class="h-full bg-primary w-0.5"></div>
        <div>
          <div class="w-4 h-4 rounded-full border-2 border-primary"></div>
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-8 justify-between w-full">
        <div
          *ngFor="let item of secondRow"
          class="flex p-4 px-8 w-full rounded-lg items-center gap-4 bg-[#FAFAFA]"
        >
          <div>
            <img [src]="item.icon" alt="#" loading="lazy"/>
          </div>
          <h1
            class="text-lg font-semibold"
            [innerHTML]="sanitizer.bypassSecurityTrustHtml(item.title)"
          ></h1>
        </div>
      </div>
    </div>
  </section>
</div>
